/**
 * Minified by jsDelivr using clean-css v4.2.1.
 * Original file: /npm/modern-normalize@0.6.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}
body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 18px;
    line-height: 1.17;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.nav .link {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container.advantages .section-title, .modal .form .checkbox, .portfolio .section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.doing-section .section-title, .our-team-section .section-title, .clients .section-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .doing-section .section-title, .our-team-section .section-title, .clients .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.button:hover {
  background-color: #188ce8;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2196f3;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav .link {
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .link:hover, .nav .link:focus, .nav .link.curent {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .item.curent {
    position: relative;
  }
}

.link.curent::after {
  width: 100%;
  height: 4px;
  content: "";
  display: inline-block;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .link.curent::after {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav .item + .item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-contacts .link {
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .header-contacts .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.contacts:hover, .contacts:focus {
  color: #2196f3;
}

.contacts:hover .smartphone,
.contacts:focus .smartphone,
.contacts:hover .envelope,
.contacts:focus .envelope {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header-contacts .item + .item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .envelope {
    width: 14px;
    height: 10px;
  }
  .smartphone {
    width: 10px;
    height: 14px;
  }
}

.envelope,
.smartphone {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .envelope,
  .smartphone {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    margin-bottom: 60px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

@media screen and (min-width: 768px) {
  .page-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 767px) {
  .page-header .item {
    text-align: center;
  }
}

.logo-header {
  color: #212121;
}

@media screen and (max-width: 767px) {
  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 85px;
  }
}

.nav-button {
  background-color: #ffffff;
  border: none;
}

@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
}

.nav-button .icon-cross {
  display: none;
}

.nav-button.is-open .icon-cross {
  display: block;
}

.nav-button.is-open .icon-menu {
  display: none;
}

.nav-button:focus .icon,
.nav-button:hover .icon {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #ececec;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-tablet.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-desktop.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-desktop@2x.jpg);
  }
}

.hero-container {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero-container {
    width: 646px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.container.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .container.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container.advantages .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  color: #212121;
  font-size: 14px;
  text-transform: uppercase;
}

.container.advantages .text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.container.advantages .icon-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .advantages .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages .item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages .item {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .advantages .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantages .list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages .list {
    margin: -15px;
  }
}

.doing-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .doing-section {
    display: none;
  }
}

.we-are-doing.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.we-are-doing .item-thumb {
  position: relative;
}

.we-are-doing .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.we-are-doing > .item {
  width: calc((100% - 60px) / 3);
  border: 1px solid transparent;
}

.our-team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .our-team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team > .item {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.our-team .photo {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.our-team .card-content {
  padding: 30px 32px;
  background-color: #ffffff;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.our-team .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team .text {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-network .icon {
  width: 20px;
  height: 20px;
}

.social-network .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network .item + .item {
  margin-left: 10px;
}

.social-network .icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network .link:hover,
.social-network .link:focus {
  background-color: #2196f3;
}

.social-network .link:hover .icon,
.social-network .link:focus .icon {
  fill: #ffffff;
}

.team-member-box {
  height: 320px;
}

@media screen and (min-width: 768px) {
  .team-member-box {
    height: 260px;
  }
}

.team-member-box .photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media screen and (max-width: 767px) {
  .our-team > .item:not(:last-child) {
    margin-bottom: 30px;
  }
  .our-team > .item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team > .item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team > .item {
    width: calc((100% - 90px) / 4);
  }
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients .list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clients .item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients .item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients .item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover,
.clients .link:focus {
  border-color: #2196f3;
}

.clients .link:hover .icon,
.clients .link:focus .icon {
  fill: #2196f3;
}

@media screen and (max-width: 1199px) {
  .main-address {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .main-address {
    margin-right: 69px;
  }
}

.main-address .address {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.main-address .link[href="mailto:info@example.com"] {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .main-address .link[href="mailto:info@example.com"] {
    margin-bottom: 9px;
  }
}

.main-address .address .link {
  color: inherit;
  display: block;
}

.main-address .logo.link {
  display: inline-block;
  margin-bottom: 20px;
}

.main-address .logo-footer,
.main-address .address.phisical {
  margin-bottom: 8px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .main-address .logo-footer,
  .main-address .address.phisical {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1200px) {
  .join-us {
    margin-bottom: 60px;
  }
}

.join-us .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us .icon {
  fill: #ffffff;
}

.join-us .link:hover,
.join-us .link:focus {
  background-color: #2196f3;
}

.subscribe {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .subscribe .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe .input {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .subscribe .input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe .input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe .input {
    margin-bottom: 20px;
  }
}

.subscribe .input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe .input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe .input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe .input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe .input:focus-within {
  outline: none;
}

.subscribe .icon {
  margin-left: 10px;
}

.subscribe .button {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
}

@media screen and (min-width: 1200px) {
  .subscribe .button {
    margin-left: 12px;
  }
}

.page-footer {
  background-color: #2f303a;
}

.page-footer > .container {
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 1200px) {
  .page-footer > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer .footer-title {
  margin-bottom: 20px;
  display: block;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .page-footer .footer-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal .form {
  padding: 40px;
}

.modal .form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
}

.modal .form-field:nth-child(5) {
  margin-bottom: 20px;
}

.modal .form-input {
  width: 100%;
  margin: 0;
  padding: 12px 16px 12px 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-text {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal .form-text {
    line-height: 1.15;
  }
}

.modal .form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-field:focus-within > .form-label {
  color: #2196f3;
  -webkit-transform: translate(-26px, -38px);
          transform: translate(-26px, -38px);
}

.modal .form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-26px, -38px);
          transform: translate(-26px, -38px);
}

.modal .form-field:focus-within > .form-icon,
.modal .form-field:focus-within > .form-input {
  fill: #2196f3;
  border-color: #2196f3;
  outline: none;
}

.modal .form-textarea {
  resize: none;
  height: 120px;
  width: 100%;
  margin: 0;
  padding: 12px 16px 12px 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form .textarea-label {
  position: absolute;
  left: 18px;
  top: 12px;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: color 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
  transition: color 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), color 250ms var(--cubic);
  transition: transform 250ms var(--cubic), color 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.modal .form-field:focus-within > .textarea-label {
  color: #2196f3;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.modal .form-textarea:not(:placeholder-shown) + .textarea-label {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.modal .form-field:focus-within > .form-textarea {
  border-color: #2196f3;
  outline: none;
}

.modal .form-field.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 30px 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal .form-field.agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal .form .agreement-icon {
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #ffffff;
  margin-right: 8px;
}

.modal .form .checkbox:checked + .agreement-icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal .form .contract-terms {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal .modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.modal .close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal-close-button:hover .close-icon,
.modal .modal-close-button:focus .close-icon {
  fill: #2196f3;
}

.modal .form-submit {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.modal .form-submit:hover {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-nav {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .filter-nav {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter-nav {
    margin-bottom: 50px;
  }
}

.filter-nav .filter {
  border: 0 transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .filter-nav .filter {
    margin-bottom: 15px;
  }
}

.filter-nav .filter + .filter {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .filter-nav .filter:nth-child(4) {
    margin-left: 0;
  }
}

.filter-nav .filter:hover,
.filter-nav .filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  border: 0 transparent;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .portfolio .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio .item {
  margin-bottom: 30px;
}

.portfolio .image {
  position: relative;
  overflow: hidden;
}

.portfolio .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  pointer-events: none;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
  position: absolute;
  padding: 63px 24px;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  pointer-events: none;
}

.portfolio .link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .link:hover,
.portfolio .link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio .link:hover .overlay,
.portfolio .link:focus .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio .card-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-title {
  margin: 0 0 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  margin: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio .image {
  height: 294px;
}

.portfolio .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 768px) {
  .portfolio .item {
    width: calc((100% - 30px) / 2);
  }
  .portfolio .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .item {
    width: calc((100% - 60px) / 3);
  }
}
/*# sourceMappingURL=main.css.map */