@import "./utils/normilize";
@import "./utils/variables";
@import "./utils/placeholders";
@import "./components/common/button-hover";
@import "./components/header/header";
@import "./components/sections/hero";
@import "./components/sections/our-advantages";
@import "./components/sections/what-we-are-doing";
@import "./components/sections/our-team";
@import "./components/sections/our-clients";
@import "./components/footer/footer";
@import "./components/modal-window/modal-window";
@import "./components/portfolio/portfolio";
