.filter-nav {
  margin-bottom: 25px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }

  & .filter {
    border: 0 transparent;
    border-radius: 4px;
    padding: 6px 22px;
    @media screen and (max-width: $tablet - 1) {
      margin-bottom: 15px;
    }

    font-family: "Roboto", sans-serif;
    color: $primary-text-color;
    background-color: $our-team-section-background;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition: color 250ms $cubic, background-color 250ms $cubic;
  }
  & .filter + .filter {
    margin-left: 8px;
  }
  & .filter:nth-child(4) {
    @media screen and (max-width: $tablet - 1) {
      margin-left: 0;
    }
  }
  & .filter:hover,
  & .filter:focus {
    color: $white-color;
    background-color: $accent-color;
    border: 0 transparent;
  }
}
