@import "./main-address";
@import "./join-us";
@import "./subscribe";

.page-footer {
  background-color: $footer-background;

  & > .container {
    padding-top: 60px;
    padding-bottom: 60px;

    // display: flex;
    align-items: baseline;
  }
  & .footer-title {
    margin-bottom: 20px;

    display: block;
    text-align: center;
    color: $white-color;
    font-weight: 700;
    text-transform: uppercase;
  }
}
@media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
  .contacts-box {
    display: flex;
    justify-content: space-around;
  }
}
