@import "./main-address";
@import "./join-us";
@import "./subscribe";
@import "./copyright";

.page-footer {
  background-color: $footer-background;

  & > .container {
    // display: flex;
    align-items: baseline;
    padding-top: 48px;
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  & .footer-title {
    margin-bottom: 20px;

    display: inline-block;
    color: $white-color;
    font-weight: 700;
    text-transform: uppercase;
  }
}
