@import "./main-address";
@import "./join-us";
@import "./subscribe";

.page-footer {
  background-color: $footer-background;

  & > .container {
    padding-top: 60px;
    padding-bottom: 60px;

    align-items: baseline;
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
  & .footer-title {
    margin-bottom: 20px;

    display: block;

    color: $white-color;
    font-weight: 700;
    text-transform: uppercase;
    @media screen and (max-width: $desktop - 1) {
      text-align: center;
    }
  }
}

.contacts-box {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    display: flex;
    justify-content: space-around;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}
