.main-address {
  @media screen and (max-width: $desktop - 1) {
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 69px;
  }

  & .address {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  & .link[href="mailto:info@example.com"] {
    margin-bottom: 8px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }
  & .address .link {
    color: inherit;
    display: block;
  }
  & .logo.link {
    display: inline-block;
    margin-bottom: 20px;
  }
  & .logo-footer,
  & .address.phisical {
    margin-bottom: 8px;

    color: $white-color;
    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }
}
