@import "../common/logo";
@import "./main-nav";
.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
  @media screen and (min-width: $tablet) {
    .container {
      display: flex;
      align-items: center;
    }

    & .item {
      @media screen and (max-width: $tablet - 1) {
        text-align: center;
      }
    }
  }
}

.logo-header {
  color: $primary-text-color;
}
.header-logo {
  @media screen and (max-width: $tablet - 1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 81px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 85px;
  }
}
.nav-button {
  @media screen and (min-width: $tablet) {
    display: none;
  }
  background-color: $white-color;
  border: none;

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &:focus .icon,
  &:hover .icon {
    fill: $accent-color;
  }
}
.menu-container {
  @media screen and (max-width: $tablet - 1) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;

    width: 100%;

    padding-bottom: 60px;
    padding-top: 60px;

    text-align: center;

    background-color: $white-color;

    border-top: 1px solid #ececec;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }
}
