.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  & .section-title {
    @extend %section-title;
  }

  & .list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    @media screen and (min-width: $desktop) {
      justify-content: space-between;
    }
  }
  & .item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
    @media screen and (min-width: $tablet) {
      width: calc((100% - 90px) / 3);
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 6 * 30px) / 6);
    }
  }
  & .link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;

    border: 1px solid $svg-grey;
    border-radius: 4px;

    transition: border-color 250ms $cubic;
  }
  & .icon {
    fill: $svg-grey;
    transition: fill 250ms $cubic;
  }
  & .link:hover,
  & .link:focus {
    border-color: $accent-color;
  }
  & .link:hover .icon,
  & .link:focus .icon {
    fill: $accent-color;
  }
}
