.modal {
  @import "./form";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  background-color: $white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  & .modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: $white-color;
    border-color: transparent;

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }
  & .close-icon {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    fill: $primary-text-color;

    transition: fill 250ms $cubic;
  }
  & .modal-close-button:hover .close-icon,
  & .modal-close-button:focus .close-icon {
    fill: $accent-color;
  }

  & .form-submit {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  // & .form-submit:hover {
  //   background-color: $button-hover;
  // }
}
